.boxesFeatured {
  display: flex;
  flex-direction:row;
}
.box {
  display: grid;
  width: 180px;
  justify-items:center;
  margin-right:10px;
}
.price {
  justify-self: start;
  padding: 0 20px 0px;
  font-size: 1.5em;
}
.imagen {
  max-width: 100%;
}
.info {
  font-weight: bold;
  padding: 0 20px 0px;

}
