

.container{

  text-align: center;
  display: grid;
}
.nameCat{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  font-size: 2.1em;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  color:var(--welagon-text-white);

}
.imageBack{
  composes: nameCat;
  /* width: 100%;
  height:100%; */
  padding: 0.5em 1em!important;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition:  all 0.2s ease-in-out;
}

.imageBack:hover{
  color: #d61e26!important;
  background: #0c0c0c!important;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.fetchError {
    background-color: var(--welagon-red);
    color: var(--welagon-text)
}
