.root {

}

.tree {
}

.leaf {
}

.branch {
  display: grid;
  grid-template-columns: 1fr 100px  ;
  grid-template-areas:"text img";
  align-items:center;
  height:79px;

  background-color: #efefef;
  margin: 8px 8px;
}
.branch em,.branch a{
grid-area: text;
padding-left: 0.9em
}

.inactive {

}
