.root {
color: rgba(0,0,0,.87);
font-size: 15px;
font-family: arial,sans-serif;
background-color: #f5f5f5;
box-shadow: 0 1px 1px rgba(0,0,0,.16);
height: 45px;
width: 100%;
box-sizing: border-box;
display: grid;
grid-template-columns: 60px 1fr ;
grid-template-areas:"arrow title";
align-items:center;
}
.title {
  grid-area: title;
    font-size: 0.9em;
    font-weight: 300;
    text-transform: uppercase;
}
.arrow{
  grid-area: arrow
}
