.sideNav {
  width: 320px;
  background: #ccc;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  position: fixed;
  overflow-x: hidden;
      transform: translate3d(100%, 0, 0);
  transition-duration: 224ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

}
.openSideNav {
  composes: sideNav;
  box-shadow: 1px 0 rgb(var(--venia-border));
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-duration: 224ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  visibility: visible;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
