.top {
  width: auto;
  background-color: var(--welagon-text-white);
  z-index: 10;
  min-height: 3.8rem;
  display: grid;
  grid-template-areas:"iconMenu logo .";
  grid-template-columns: 1fr  2fr 1fr;
  place-items:center;
  min-width: 320px;

}
.top .iconMenu{
  grid-area: iconMenu;
  margin-left : 10px;
  color:var(--welagon-text-white);
  text-decoration: none;
  font-size: 25px;
  align-items: start;
}
.logo{
  grid-area: logo;
}
