.root {
  width: auto;
  background-color: var(--welagon-header-footer);
  z-index: 10;
  min-height: 3.8rem;
  display: flex;
  align-items: center;
}
a{
margin-left : 10px;
color:var(--welagon-text-white);
text-decoration: none;
font-size: 25px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
