.root {
  display: grid;
  z-index: 99;
  position: fixed;
  bottom: 0px;
  min-width: 320px;
  background-color: var(--welagon-text-white);
  grid-template-areas:". . . iconMenu";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items:center;
  box-shadow: 10px 10px 5px grey;
  border-top: solid 1px var(--welagon-red);
  min-height: 3.1em;
  width: 100%;
}
.hamburger {
  grid-area: iconMenu;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 200;
}
.hamburger span {
  background-color:var(--welagon-text);
  width: 21px;
  height: 3px;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.close  {
  composes:hamburger;
}
.close span {
  margin-top: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.close span:nth-child(1){
  transform: rotate(-45deg) translate(-4px ,0);
}
.close span:nth-child(2){
  opacity: 0;
}
.close span:nth-child(3){
  transform: rotate(45deg) translate(-4px ,0);
}
