:root {
  --welagon-text-white: #fcfcfc;
  --welagon-header-footer:#344b59;
  --welagon-text: #5f5f5f;
}
html {
    background-color: white;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: var(--welagon-text-white);
    color: var(--welagon-text);
    margin: 0;
    padding: 0;
}
