:root {
  --welagon-text: 33, 33, 33;
  --welagon-header-footer:52, 75, 89, 1;
}
html {
    background-color: white;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: white;
    color: rgb(var(--welagon-text));
    margin: 0;
    padding: 0;
}
